/vendor/gems/
/vendor/bundle/
/.bundle/
/storage/*
!/storage/.keep
/data/*
!/data/.keep
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/config/panel.yml
/public/turbo.js

/vendor/claude-sdk/
/vendor/pip-cache/
/scripts/__pycache__/

.DS_Store

/vendor/
.env
.env.*
/node_modules/
